
nav{
    margin: 0 0 10px;
    padding: 0 0 20px;
    border-bottom: 1px solid #dce5f2;
    a{
        background: #3a4250;
        color:#fff;
        padding: 4px 10px;
        margin: 0 2px;
        border-radius: 2px;
        &.active{//routerLinkActive class added for styling &.active means a>.active
            color: #b490f1;
            background: #363c48;
        }
    }
}

//{
    //   "id": 1,
    //   "fullname": "Stephen",
    //   "checkedIn": true,
    //   "checkInDate": 1490742000000,
    //   "children": null
    // },
    // {
    //   "id": 2,
    //   "fullname": "Rose",
    //   "checkedIn": false,
    //   "checkInDate": null,
    //   "children": [
    //     {
    //       "name": "Ted",
    //       "age": 12
    //     },
    //     {
    //       "name": "Chloe",
    //       "age": 7
    //     }
    //   ]
    // },
    // {
    //   "id": 3,
    //   "fullname": "James",
    //   "checkedIn": true,
    //   "checkInDate": 1491606000000,
    //   "children": null
    // },
    // {
    //   "id": 4,
    //   "fullname": "Louise",
    //   "checkedIn": true,
    //   "checkInDate": 1488412800000,
    //   "children": [
    //     {
    //       "name": "Jessica",
    //       "age": 1
    //     }
    //   ]
    // },
    // {
    //   "id": 5,
    //   "fullname": "Tina",
    //   "checkedIn": false,
    //   "checkInDate": null,
    //   "children": null
    // }